@import "tailwindcss";

/* @theme{ 
    --color-primary:#00ff00
}


@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 1.6s infinite;
}

@keyframes msPulse {
  0% { opacity: .55; }
  50% { opacity: 1; }
  100% { opacity: .55; }
}

.animate-ms-pulse {
  animation: msPulse 1.4s ease-in-out infinite;
}

@keyframes softReveal {
  0% { opacity: 0; transform: scale(.98); }
  100% { opacity: 1; transform: scale(1); }
}
.soft-reveal {
  animation: softReveal .35s ease-out forwards;
}
 */


 /* Container skeleton */
.skeleton-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  animation: fadeIn 0.4s ease forwards;
}

/* Shimmer background */
.skeleton {
  background: rgba(240, 240, 240, 0.9);
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

/* Image placeholder */
.skeleton-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

/* Text placeholders */
.skeleton-line {
  height: 14px;
  width: 70%;
  border-radius: 6px;
}

.skeleton-line.short {
  width: 40%;
}

/* Shimmer animation */
.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.6),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
